.container {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container:hover {
  /* transform: scale(1.01); */
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-scrn);
  padding: 2px;
  width: 100%;
  border-radius: 3px;
}

.inputText {
  display: flex;
  align-items: center;
}

.isFocusedConatiner {
  border: 1px solid var(--color-scrn-br);
}

.isFocusedInput::after {
  content: '|';
  font-weight: bolder;
  font-size: larger;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
